@model FinalPart3MVC.ViewModels.ShippingControllerViewModel

@{
    ViewBag.Title = "CalculateShipping";
}

<h2>CalculateShipping</h2>

<div>
    <h4>ShippingControllerViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CostRefills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostRefills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingDistance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
